<div class="container">

  <apx-chart [series]="chartOptions.series!"
             [chart]="chartOptions.chart!"
             [title]="chartOptions.title!"
             [dataLabels]="chartOptions.dataLabels!"
             [stroke]="chartOptions.stroke"
             [xaxis]="chartOptions.xaxis!"
             [yaxis]="chartOptions.yaxis!"
             [tooltip]="chartOptions.tooltip!"
             [legend]="chartOptions.legend!"

  ></apx-chart>

  <table mat-table [dataSource]="umsaetze" class="mat-elevation-z8 demo-table">
    <!-- Buchungstag -->
    <ng-container matColumnDef="demo-buchungstag">
      <th mat-header-cell *matHeaderCellDef> Buchungstag </th>
      <td mat-cell *matCellDef="let element"> {{element.buchungstag | date:'dd.MM.yyyy'}} </td>
    </ng-container>

    <!-- GegenIban -->
    <ng-container matColumnDef="demo-gegenIban">
      <th mat-header-cell *matHeaderCellDef> GegenIban </th>
      <td mat-cell *matCellDef="let element"> {{element.gegenIban}} </td>
    </ng-container>

    <!-- Gegenkonto -->
    <ng-container matColumnDef="demo-gegenkonto">
      <th mat-header-cell *matHeaderCellDef> Gegenkonto </th>
      <td mat-cell *matCellDef="let element"> {{element.gegenkonto}} </td>
    </ng-container>

    <!-- Verwendungszweck -->
    <ng-container matColumnDef="demo-verwendungszweck">
      <th mat-header-cell *matHeaderCellDef> Verwendungszweck </th>
      <td mat-cell *matCellDef="let element"> {{element.verwendungszweck}} </td>
    </ng-container>

    <!-- Umsatz  -->
    <ng-container matColumnDef="demo-umsatz">
      <th mat-header-cell *matHeaderCellDef> Umsatz </th>
      <td mat-cell [ngClass]="{'minus': element.umsatz.indexOf('-') > -1, 'plus': element.umsatz.indexOf('-') <= -1}" *matCellDef="let element"> {{element.umsatz}} € </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
