<div class="container">

  <select matNativeControl [(ngModel)]="selectedtimeSector" (ngModelChange)="onValChange($event)">
    <option value="monthly">Monthly</option>
    <option value="quarterly">Quarterly</option>
    <option value="half-yearly">Half-Yearly</option>
    <option value="yearly">Yearly</option>
  </select>

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button (change)="isIncomeOutcomeBalanceDiagrammOn=true;isOutcomeDiagrammOn=false;isIncomeDiagrammOn=false" checked="true" value="1"
        >Income/Outcome/Balance</mat-radio-button>
    <mat-radio-button (change)="isIncomeOutcomeBalanceDiagrammOn=false;isOutcomeDiagrammOn=true;isIncomeDiagrammOn=false" checked="false" value="2"
        >Outcome Rate</mat-radio-button>
    <mat-radio-button (change)="isIncomeOutcomeBalanceDiagrammOn=false;isOutcomeDiagrammOn=false;isIncomeDiagrammOn=true" checked="false" value="2"
        >Income Rate</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date" (dateChange)="onDateChange()">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <apx-chart *ngIf="isIncomeOutcomeBalanceDiagrammOn"
    [series]="chartOptions.series!"
   [chart]="chartOptions.chart!"
   [title]="chartOptions.title!"
   [dataLabels]="chartOptions.dataLabels!"
   [stroke]="chartOptions.stroke"
   [xaxis]="chartOptions.xaxis!"
   [yaxis]="chartOptions.yaxis!"
   [tooltip]="chartOptions.tooltip!"
   [legend]="chartOptions.legend!"

  ></apx-chart>
  <apx-chart *ngIf="isOutcomeDiagrammOn"
    [series]="chartOptionsPie.series"
    [chart]="chartOptionsPie.chart"
    [dataLabels]="chartOptionsPie.dataLabels"
    [plotOptions]="chartOptionsPie.plotOptions"
    [responsive]="chartOptionsPie.responsive"
    [xaxis]="chartOptionsPie.xaxis"
    [legend]="chartOptionsPie.legend"
    [fill]="chartOptionsPie.fill"
  ></apx-chart>
  <apx-chart *ngIf="isIncomeDiagrammOn"
    [series]="chartOptionsIncomePie.series"
    [chart]="chartOptionsIncomePie.chart"
    [dataLabels]="chartOptionsIncomePie.dataLabels"
    [plotOptions]="chartOptionsIncomePie.plotOptions"
    [responsive]="chartOptionsIncomePie.responsive"
    [xaxis]="chartOptionsIncomePie.xaxis"
    [legend]="chartOptionsIncomePie.legend"
    [fill]="chartOptionsIncomePie.fill"
  ></apx-chart>

  <table mat-table [dataSource]="umsaetze" class="mat-elevation-z8 demo-table">
    <!-- Buchungstag -->
    <ng-container matColumnDef="demo-buchungstag">
      <th mat-header-cell *matHeaderCellDef> Buchungstag </th>
      <td mat-cell *matCellDef="let element"> {{element.buchungstag | date:'dd.MM.yyyy'}} </td>
    </ng-container>

    <!-- GegenIban -->
    <ng-container matColumnDef="demo-gegenIban">
      <th mat-header-cell *matHeaderCellDef> GegenIban </th>
      <td mat-cell *matCellDef="let element"> {{element.gegenIban}} </td>
    </ng-container>

    <!-- Gegenkonto -->
    <ng-container matColumnDef="demo-gegenkonto">
      <th mat-header-cell *matHeaderCellDef> Gegenkonto </th>
      <td mat-cell *matCellDef="let element"> {{element.gegenkonto}} </td>
    </ng-container>

    <!-- Verwendungszweck -->
    <ng-container matColumnDef="demo-verwendungszweck">
      <th mat-header-cell *matHeaderCellDef> Verwendungszweck </th>
      <td mat-cell *matCellDef="let element"> {{element.verwendungszweck}} </td>
    </ng-container>

    <!-- Verwendungszweck -->
    <ng-container matColumnDef="demo-kategory">
      <th mat-header-cell *matHeaderCellDef> Kategory </th>
      <td mat-cell *matCellDef="let element"> {{element.kategory}} </td>
    </ng-container>

    <!-- Umsatz  -->
    <ng-container matColumnDef="demo-umsatz">
      <th mat-header-cell *matHeaderCellDef> Umsatz </th>
      <td mat-cell [ngClass]="{'minus': element.umsatz.indexOf('-') > -1, 'plus': element.umsatz.indexOf('-') <= -1}" *matCellDef="let element"> {{element.umsatz}} € </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>


</div>
